* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  padding: 20px;
  font-family: 'roboto', sans-serif;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h3 {
  font-size: 3.5vw;
  margin-right: -40px;
  width: 180px;
  height: 41.28px;
}

ul {
  list-style-type: none;
  display: flex;
  margin-right: -250px;
}

ul li {
  margin-right: 50px;
}

ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  font-size: 2vw;
}

.startQuiz {
  color: #7209b7;
  border: 1px solid #7209b7;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 1.563vw;
  line-height: 120%;
  position: relative;
  padding: 0.781vw 1.563vw;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -30px;
}

.startQuiz:hover {
  background-color: #7209b7;
  color: white;
}

.signIn {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: -170px;
  padding-right: 100px;
}

.signIn button:hover {
  background-color: #7209b7;
  color: white;
}

.signIn p {
  margin: 0;
  margin-top: 5px;
  padding: 5px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 1.406vw;
  line-height: 21px;
}

.signInBtn {
  background-color: rgba(114, 9, 183, 0.1);
  color: #7209b7;
  border: none;
  font-size: 1.563vw;
  padding: 0.781vw 1.563vw;
  border-radius: 4px;
  cursor: pointer;
  margin-right: -16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.options {
  display: none;
}
