* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 40px 146px;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  background: #fff;
  border-bottom: 1px solid rgba(124, 124, 124, 0.01);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}

#logo {
  position: absolute;
  width: 15%;
  height: 100%;
  left: 20px;
  top: 0;
  cursor: pointer;
  padding: 0;
}

#rightSide {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#enterCode {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 20px 50px;
  border-radius: 8px;
  width: 60px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #280340;
}

#createQuiz {
  background-color: #5b0792;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 20px 50px;
  border-radius: 8px;
  width: 60px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: white;
}

#notifsIcon {
  width: 48px;
  height: 48px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

#profilePic {
  width: 48px;
  height: 48px;
}

.db-sidebar {
  position: absolute;
  width: 20vw;
  height: 100vh;
  left: 0;
  top: 90px;
  background: #5b0792;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.db-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.db-sidebar li {
  margin-top: 10px;
}

.db-sidebar a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
}

.db-sidebar a:hover {
  background-color: white;
  color: #280340;
}

.db-sidebar img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  transition: filter 0.3s ease-in-out;
}

.content {
  position: relative;
  top: 90px;
  margin-left: 23%;
  padding: 20px;
}

.quizCards {
  position: relative;
  top: 90px;
  margin-left: 26%;
  height: 100px;
  display: flex;
  gap: 10px;
  width: 60%;
}

.one {
  background-color: #f1e6f8;
  width: 25%;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.one img {
  width: 40px;
  height: 40px;
}

.one p {
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
}

.one h1 {
  position: relative;
  margin-top: -56px;
  z-index: 1;
  color: white;
  font-size: 50px;
}

.two {
  background-color: #faf6fc;
  width: 25%;
  height: 100%;
  border-radius: 16px;
  text-align: center;
}

.two p {
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.three {
  background-color: #faf6fc;
  width: 25%;
  height: 100%;
  border-radius: 16px;
  text-align: center;
}

.three p {
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.four {
  background-color: #faf6fc;
  width: 25%;
  height: 100%;
  border-radius: 16px;
  text-align: center;
}

.four p {
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  position: relative;
  top: 90px;
  margin-left: 23%;
  padding: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
  color: #000;
}

.activities {
  position: relative;
  top: 90px;
  margin-left: 26%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60%;
}

.act-1 {
  background-color: #fafafa;
  width: 100%;
  height: 25%;
  border-radius: 4px;
  border-left: #5519a8 solid 4px;
  padding: 20px 15px;
  display: flex;
  align-items: center;
}

.act-2 {
  background-color: #fafafa;
  width: 100%;
  height: 25%;
  border-radius: 4px;
  border-left: #5519a8 solid 4px;
  padding: 20px 15px;
  display: flex;
  align-items: center;
}

.act-3 {
  background-color: #fafafa;
  width: 100%;
  height: 25%;
  border-radius: 4px;
  border-left: #5519a8 solid 4px;
  padding: 20px 15px;
  display: flex;
  align-items: center;
}

.detail {
  position: relative;
  font-size: 1vw;
  text-align: left;
  flex: 1;
}

.time {
  position: relative;
  font-size: 1vw;
  text-align: right;
  flex: 1;
}
